* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;    
}

h1 {
    margin: 0;
    font-size: 8vmin;
    text-shadow: 5px 5px blue;
}

p {
    font-size: 5vmin;
    text-shadow: 3px 3px blue;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://i.imgur.com/75eMSLB.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    font-size: 5vmin;
    color: whitesmoke;
    background: blue;
    border-radius: 50%;
    border-color: black;
}

.btn:hover {
    background-color: maroon;
}

.card {
    transform: scale(1.5);
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deck1-count, #deck2-count, #hand1-count, #hand2-count  {
    color: whitesmoke;
    text-shadow: 1px 1px blue;
}
