* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

body {
    height: 100%;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.btn {
    display: block;
    font-size: 5vmin;
    color: black;
    background: blue;
    border-radius: 50%;

}

.btn:hover {
    background-color: crimson;
}
