* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;    
}

h1 {
    margin: 0;
    font-size: 8vmin;
    text-shadow: 5px 5px blue;
}

p {
    font-size: 5vmin;
    text-shadow: 3px 3px blue;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://i.imgur.com/75eMSLB.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    font-size: 5vmin;
    color: whitesmoke;
    background: blue;
    border-radius: 50%;
    border-color: turquoise;
}

.btn:hover {
    background-color: lightskyblue;
}

.card {
    transform: scale(1.5);
}

.players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#deck1 {
    justify-content: space-evenly;
    align-items: flex-start;
}

section {
    display: flex;
    margin: 2vmin;
    gap: 4vmin;
}
.card {
    margin-left: 2vmin;
}

#deck1-count, #deck2-count, #hand1-count, #hand2-count  {
    font-size: 2vmin;
    font-weight: bold;
    color: turquoise;
    text-shadow: 1.5px 1.5px black;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: initial;
    margin: 0, 2px;
    padding-top: 2vmin;
    font-size: 2vmin;
    color: turquoise;
    text-shadow: 1px 1px blue;
}
